.helmet-logo {
    width: 50px;
    height: 50px;
  }

#Auth-buttons{
    float:right;
}

.btn.dropdown-toggle {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove borders */
  color: #e9edf1; /* Use default text color */
  box-shadow: none; /* Remove any box shadow */
  /* Add any additional styling as needed */
}

.dropdown{ margin-top: 2px; }

.navbar-nav .nav-link {
  color: #e9edf1; /* Set your desired text color here */
}

@media (max-width: 992px){
  .btn.dropdown-toggle{ 
    padding-left: 0;
  }
  #Auth-buttons{
    float:left;
}

}