<footer>
<nav class="navbar navbar-expand-lg navbar-light ">
  <a [routerLink]="['']"><img src="../../assets/fb-helmet.png" alt="Logo" class="helmet-logo"></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup2" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"  id="navbarNavAltMarkup2">
        <div class="navbar-nav" id="Auth-buttons">
            <a class="nav-item nav-link" href="#">Contact Us</a>
            <a class="nav-item nav-link" href="#" href="#">About</a>
            </div>
    </div>
  </nav>
</footer>
