/*
SITE HEADER/FOOTER AND HOME PAGE STYLING
 */
 body, html {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  router-outlet {
    flex: 1;
  }